.theme {
  --app-color-primary: rgb(103, 172, 230);

  background: var(--app-background);
  color: var(--app-foreground);
  width: 100%;
  height: 100vh;
}
.light {
  --app-background: #eee;
  --app-foreground: #202124;
}

.dark {
  --app-background: #202124;
  --app-foreground: #eee;
}
