.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    gap: 0.5em;
    padding: 0.5em;

    &--centered {
        justify-content: center;
        align-content: center;
    }
}

.item {
    grid-column-start: var(--col);
    grid-column-end: span var(--colspan);
    grid-row-start: var(--row);
    grid-row-end: span var(--rowspan);
}
