.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.topbar{
    flex: none;
}
.dashboard {
    flex: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0.5em;
    padding: 0.5em;
    height: 0;
    position: relative;
}

.frame {
    padding: 0.5em;
    border: 1px solid var(--app-secondary);
    background: var(--app-background);
    overflow: auto;

    &--debug {
        position: fixed;
        bottom: 0.5em;
        right: 0.5em;
        z-index: 1;
        width: 30em;
        height: auto;
        overflow: hidden;
    }
    &--actions {
        margin-top: 2em;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto) !important;
        grid-gap: 0.5em;
    }
    &--stats {
        grid-column: 5 / span 2;
        grid-row: span 3;
    }

    &--damage {
        grid-column: 1 / span 4;
        grid-row: 1 / span 6;
    }
    &--healing {
        grid-column: 3 / span 2;
        grid-row: 1 / span 6;
    }
}
