.dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1em;
    height: 100%;
    position: relative;
}

.frame {
    padding: 0.5em;
    border: 1px solid var(--app-foreground);

    &--debug {
        display: block;
        position: absolute;
        top: 1em;
        right: 1em;
    }
    &--log {
        grid-column: 1 / span 12;
        grid-row: 1 / span 12;
        overflow: scroll;
    }
}
