.dashboard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0.5em;
    padding: 0.5em;
    height: 100%;
    position: relative;
}

.frame {
    padding: 0.5em;
    border: 1px solid var(--app-subtle);
    background: var(--app-background);
    overflow: auto;

    &--debug {
        grid-column: 5 / span 2;
        grid-row: 1 / span 3;
    }
    &--stats {
        grid-column: 5 / span 2;
        grid-row: span 3;
    }

    &--damage {
        grid-column: 1 / span 2;
        grid-row: 1 / span 6;
    }
    &--healing {
        grid-column: 3 / span 2;
        grid-row: 1 / span 6;
    }
}
